<div class="container">
  <br />
  <div class="float-right">
    <button type="button" routerLink="/list" class="btn btn-link">View All Urls</button>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <form #urlForm="ngForm" class="card card-sm" (ngSubmit)="getShortenedUrl();">
        <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input [(ngModel)]="url" pattern="https?://.+" name="url"
              class="form-control form-control-lg form-control-borderless" type="url" placeholder="enter url to shorten"
              required>
          </div>
          <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit" [disabled]="urlForm.invalid">Get Short Url</button>
          </div>
        </div>
      </form>

      <br>
      <div class="alert alert-primary" *ngIf="message" role="alert">
        {{message}}
      </div>

      <div class="alert alert-danger" *ngIf="error_message" role="alert">
        {{error_message}}
      </div>
    </div>
    <!--end of col-->
  </div>


</div>